### LIBRER√çAS

In [14]:
import sqlite3
import pandas as pd

In [15]:
df1 = pd.read_csv("/workspaces/bigdata/src/bigdata/static/cvs/heart2020_condiciones_medicas.csv", delimiter=",")
df2 = pd.read_csv("/workspaces/bigdata/src/bigdata/static/cvs/heart2020_habitos.csv", delimiter=",")
df3 = pd.read_csv("/workspaces/bigdata/src/bigdata/static/cvs/heart2020_persona.csv", delimiter=",")
df4 = pd.read_csv("/workspaces/bigdata/src/bigdata/static/cvs/heart2020_salud_cardiaca.csv", delimiter=",")

In [20]:
df1.head(5)

   id_condicion Stroke Asthma KidneyDisease SkinCancer  id_persona
0             1     No    Yes            No        Yes           1
1             2    Yes     No            No         No           2
2             3     No    Yes            No         No           3
3             4     No     No            No        Yes           4
4             5     No     No            No         No           5

In [21]:
df2.head(5)

   id_habito Smoking AlcoholDrinking PhysicalActivity Diabetic  id_persona
0          1     Yes              No              Yes      Yes           1
1          2      No              No              Yes       No           2
2          3     Yes              No              Yes      Yes           3
3          4      No              No               No       No           4
4          5      No              No              Yes       No           5

In [22]:
df3.head(5)

,id_persona,Sex,AgeCategory,Race,BMI,SleepTime,GenHealth,PhysicalHealth,MentalHealth,DiffWalking
0,1,Female,55-59,White,16.60,5.0,Very good,3.0,30.0,No
1,2,Female,80 or older,White,20.34,7.0,Very good,0.0,0.0,No
2,3,Male,65-69,White,26.58,8.0,Fair,20.0,30.0,No
3,4,Female,75-79,White,24.21,6.0,Good,0.0,0.0,No
4,5,Female,40-44,White,23.71,8.0,Very good,28.0,0.0,Yes

In [23]:
df4.head(5)

   id_saludcardiaca HeartDisease  id_persona
0                 1           No           1
1                 2           No           2
2                 3           No           3
3                 4           No           4
4                 5           No           5

In [24]:
sqlite3.Connection("pacientes_cardiacos")